<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotización</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <center>
            <h2 class="display-4 text-primary"><b>Cotización</b></h2>
        </center>
        <form action="/cotizacion">
            <br>
            <label for="">Valor del automovil</label>
            <input type="number" id="valor" name="valor" required="true">
            <br>
            <br>
            <label for="">Porcentaje de pago inicial:</label>
            <select name="pInicial" id="pInicial">
                <option value="10">10%</option>
                <option value="30">30%</option>
                <option value="50">50%</option>
                <option value="70">70%</option>
            </select> 
            <br>
            <br>
            <label for="">Plazos</label>
            <select name="plazo" id="plazo">
                <option value="12">12 meses</option>
                <option value="24">24 meses</option>
                <option value="36">36 meses</option>
                <option value="48">48 meses</option>
            </select>
            <br>
            <br>
            <button class="btn  btn-outline-primary btn-xs" type="sumbit">Calcular</button>
            <button class="btn  btn-outline-primary btn-xs" type="reset">Limpiar</button>

            <%
            let pagoInicial=0;
            let totalfin=0;
            let pmensual=0;

            if(valor!=null){
                pagoInicial=valor*(pInicial/100);
                totalfin=valor-pagoInicial;
                pmensual=totalfin/plazo;
            %>
            <br>
            <hr>
            <div class="text-primary">
                <h3>Informacion de la cotización</h3>
            </div>
            <b>Valor del automovil:</b> <%=valor%> <br>
            <b>Porcentaje de pago:</b> <%=pInicial%> <br>
            <b>Plazos: </b> <%=plazo%> <br>
            <b>Pago Inicial:</b> <%=pagoInicial%> <br>
            <b>Total a financiar:</b> <%=totalfin%> <br>
            <b>Pago mensual:</b> <%=pmensual%> <br>
            <br>
            <br>
            <%
            }
            %>
        </form>
    </div>
</body>
</html>