<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html')%>

<head>
    <style type="text/css">
        .container{
         text-align: center;
        }
        .table-striped tbody tr:nth-of-type(odd){
         background-color: rgb(237,245,245);
        }
        .table-hover tbody tr:hover{
         background-color: rgba(122,114,81, 0.7);
         color: rgb(112,24,78);
        }
        .thead-green{
         background-color: rgb(0, 99, 71);
         color: white;
        }
      </style>
</head>
<body>
    <center>
            <img src="./img/logo.png" alt="" height="250" width="250">
            <hr>
            <h3><%=nombre%></h3>
            <h4><%=grupo%></h4> 

        <div class="container">
        <table class="table table-striped table-hover">
            <thead class="thead-green">
            <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Materias</th>
            </tr>
         </thead>
        <%
            for(item of listado){
        %>
        <tbody>
        <tr>
            <td><%=item.matricula%></td>
            <td><%=item.nombre%></td>
            <td><%=item.sexo%></td>
            <td><%=item.materias%></td>
        </tr>
        <%
            }
        %>
    </tbody>
        </table>
    </div>
    </center>
    <%include('partials/piePagina.html');%>
</body>
</html>